sources/Operator.Silverlight/Service References/QueueRemoteService/Queue.Model.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Queue.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Queue.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ConfigType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Design" />
      <xs:enumeration value="Coupon" />
      <xs:enumeration value="SMTP" />
      <xs:enumeration value="Portal" />
      <xs:enumeration value="Media" />
      <xs:enumeration value="Terminal" />
      <xs:enumeration value="QueuePlan" />
      <xs:enumeration value="Notification" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfigType" nillable="true" type="tns:ConfigType" />
  <xs:simpleType name="ClientRequestRegistrator">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Terminal">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Manager">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Portal">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ClientRequestRegistrator" nillable="true" type="tns:ClientRequestRegistrator" />
  <xs:simpleType name="ServiceType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Consultation">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ReceiptOfDocuments">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ReleaseOfDocuments">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ServiceType" nillable="true" type="tns:ServiceType" />
  <xs:complexType name="ArrayOfConfigType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigType" type="tns:ConfigType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigType" nillable="true" type="tns:ArrayOfConfigType" />
  <xs:simpleType name="WorkplaceModificator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="A_EN" />
      <xs:enumeration value="B_EN" />
      <xs:enumeration value="C_EN" />
      <xs:enumeration value="D_EN" />
      <xs:enumeration value="E_EN" />
      <xs:enumeration value="F_EN" />
      <xs:enumeration value="G_EN" />
      <xs:enumeration value="H_EN" />
      <xs:enumeration value="CHAR1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">101</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHAR2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">102</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHAR3">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">103</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHAR4">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">104</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHAR5">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">105</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHAR6">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">106</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHAR7">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">107</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHAR8">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">108</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkplaceModificator" nillable="true" type="tns:WorkplaceModificator" />
  <xs:simpleType name="WorkplaceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Window" />
      <xs:enumeration value="Cabinet" />
      <xs:enumeration value="Room" />
      <xs:enumeration value="Box" />
      <xs:enumeration value="Department" />
      <xs:enumeration value="Area" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkplaceType" nillable="true" type="tns:WorkplaceType" />
  <xs:simpleType name="ClientRequestState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="Calling" />
      <xs:enumeration value="Absence" />
      <xs:enumeration value="Rendering" />
      <xs:enumeration value="Postponed" />
      <xs:enumeration value="Rendered" />
      <xs:enumeration value="Canceled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClientRequestState" nillable="true" type="tns:ClientRequestState" />
  <xs:simpleType name="ClientRequestType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Live">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Early">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ClientRequestType" nillable="true" type="tns:ClientRequestType" />
  <xs:simpleType name="EventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EventType" nillable="true" type="tns:EventType" />
  <xs:simpleType name="ServiceRenderingMode">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="LiveRequests" />
          <xs:enumeration value="EarlyRequests" />
          <xs:enumeration value="AllRequests">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ServiceRenderingMode" nillable="true" type="tns:ServiceRenderingMode" />
  <xs:simpleType name="UserRole">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Administrator" />
          <xs:enumeration value="Manager" />
          <xs:enumeration value="Operator" />
          <xs:enumeration value="All">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:simpleType name="ServiceParameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Number" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="Options" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceParameterType" nillable="true" type="tns:ServiceParameterType" />
  <xs:simpleType name="ServiceRatingReportDetailLavel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Year" />
      <xs:enumeration value="Month" />
      <xs:enumeration value="Day" />
      <xs:enumeration value="Hour" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceRatingReportDetailLavel" nillable="true" type="tns:ServiceRatingReportDetailLavel" />
  <xs:complexType name="ServiceRatingReportSettings">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FinishDay" type="xs:int" />
      <xs:element minOccurs="0" name="FinishMonth" type="xs:int" />
      <xs:element minOccurs="0" name="FinishYear" type="xs:int" />
      <xs:element minOccurs="0" name="IsServiceTypes" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartDay" type="xs:int" />
      <xs:element minOccurs="0" name="StartMonth" type="xs:int" />
      <xs:element minOccurs="0" name="StartYear" type="xs:int" />
      <xs:element minOccurs="0" name="TargetDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRatingReportSettings" nillable="true" type="tns:ServiceRatingReportSettings" />
</xs:schema>