sources/Operator.Silverlight/Service References/QueueRemoteService/Queue.Data.Interrelate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Queue.Data.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Queue.Data.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Queue.Model.Common" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="QueueIClient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Identity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIClient" nillable="true" type="tns:QueueIClient" />
  <xs:complexType name="IEntityWithId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IEntityWithId" nillable="true" type="tns:IEntityWithId" />
  <xs:complexType name="IEntity">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="IEntity" nillable="true" type="tns:IEntity" />
  <xs:complexType name="ArrayOfQueueIClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIClient" nillable="true" type="tns:QueueIClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIClient" nillable="true" type="tns:ArrayOfQueueIClient" />
  <xs:complexType name="ArrayOfQueueIClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIClientRequest" nillable="true" type="tns:QueueIClientRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIClientRequest" nillable="true" type="tns:ArrayOfQueueIClientRequest" />
  <xs:complexType name="QueueIClientRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="CallingFinishTime" type="ser:duration" />
          <xs:element minOccurs="0" name="CallingStartTime" type="ser:duration" />
          <xs:element minOccurs="0" name="Client" nillable="true" type="tns:QueueIClient" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Color" type="q1:Color" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsClosed" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPriority" type="xs:boolean" />
          <xs:element minOccurs="0" name="Number" type="xs:int" />
          <xs:element minOccurs="0" name="Operator" nillable="true" type="tns:QueueOperator" />
          <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfQueueIClientRequestParameter" />
          <xs:element minOccurs="0" name="RenderFinishTime" type="ser:duration" />
          <xs:element minOccurs="0" name="RenderStartTime" type="ser:duration" />
          <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RequestTime" type="ser:duration" />
          <xs:element minOccurs="0" name="Service" nillable="true" type="tns:QueueIService" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="State" type="q2:ClientRequestState" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="Type" type="q3:ClientRequestType" />
          <xs:element minOccurs="0" name="Workplace" nillable="true" type="tns:QueueIWorkplace" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIClientRequest" nillable="true" type="tns:QueueIClientRequest" />
  <xs:complexType name="QueueOperator">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="ServiceRenderings" nillable="true" type="tns:ArrayOfQueueIServiceRendering" />
          <xs:element minOccurs="0" name="Workplace" nillable="true" type="tns:QueueIWorkplace" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueOperator" nillable="true" type="tns:QueueOperator" />
  <xs:complexType name="QueueIUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIUser" nillable="true" type="tns:QueueIUser" />
  <xs:complexType name="QueueIAdministrator">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIUser">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIAdministrator" nillable="true" type="tns:QueueIAdministrator" />
  <xs:complexType name="QueueIManager">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIUser">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIManager" nillable="true" type="tns:QueueIManager" />
  <xs:complexType name="ArrayOfQueueIServiceRendering">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIServiceRendering" nillable="true" type="tns:QueueIServiceRendering" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIServiceRendering" nillable="true" type="tns:ArrayOfQueueIServiceRendering" />
  <xs:complexType name="QueueIServiceRendering">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="Mode" type="q4:ServiceRenderingMode" />
          <xs:element minOccurs="0" name="Operator" nillable="true" type="tns:QueueOperator" />
          <xs:element minOccurs="0" name="PriorityId" type="xs:long" />
          <xs:element minOccurs="0" name="Service" nillable="true" type="tns:QueueIService" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIServiceRendering" nillable="true" type="tns:QueueIServiceRendering" />
  <xs:complexType name="QueueIService">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceGroup" nillable="true" type="tns:QueueIServiceGroup" />
          <xs:element minOccurs="0" name="SortId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIService" nillable="true" type="tns:QueueIService" />
  <xs:complexType name="QueueIServiceGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentGroup" nillable="true" type="tns:QueueIServiceGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIServiceGroup" nillable="true" type="tns:QueueIServiceGroup" />
  <xs:complexType name="QueueIWorkplace">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="Modificator" type="q5:WorkplaceModificator" />
          <xs:element minOccurs="0" name="Number" type="xs:int" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="Type" type="q6:WorkplaceType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIWorkplace" nillable="true" type="tns:QueueIWorkplace" />
  <xs:complexType name="ArrayOfQueueIClientRequestParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIClientRequestParameter" nillable="true" type="tns:QueueIClientRequestParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIClientRequestParameter" nillable="true" type="tns:ArrayOfQueueIClientRequestParameter" />
  <xs:complexType name="QueueIClientRequestParameter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIClientRequestParameter" nillable="true" type="tns:QueueIClientRequestParameter" />
  <xs:complexType name="ArrayOfQueueIClientRequestEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIClientRequestEvent" nillable="true" type="tns:QueueIClientRequestEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIClientRequestEvent" nillable="true" type="tns:ArrayOfQueueIClientRequestEvent" />
  <xs:complexType name="QueueIClientRequestEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientRequest" nillable="true" type="tns:QueueIClientRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIClientRequestEvent" nillable="true" type="tns:QueueIClientRequestEvent" />
  <xs:complexType name="QueueIEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="Type" type="q7:EventType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIEvent" nillable="true" type="tns:QueueIEvent" />
  <xs:complexType name="QueueIUserEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:QueueIUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIUserEvent" nillable="true" type="tns:QueueIUserEvent" />
  <xs:complexType name="ArrayOfQueueIClientRequestPlan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIClientRequestPlan" nillable="true" type="tns:QueueIClientRequestPlan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIClientRequestPlan" nillable="true" type="tns:ArrayOfQueueIClientRequestPlan" />
  <xs:complexType name="QueueIClientRequestPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientRequest" nillable="true" type="tns:QueueIClientRequest" />
      <xs:element minOccurs="0" name="FinishTime" type="ser:duration" />
      <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueIClientRequestPlan" nillable="true" type="tns:QueueIClientRequestPlan" />
  <xs:complexType name="QueueIPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientsRequests" nillable="true" type="tns:ArrayOfQueueIClientRequest" />
      <xs:element minOccurs="0" name="NotDistributedClientsRequests" nillable="true" type="tns:ArrayOfQueueINotDistributedClientRequest" />
      <xs:element minOccurs="0" name="OperatorsPlans" nillable="true" type="tns:ArrayOfQueueOperatorPlan" />
      <xs:element minOccurs="0" name="PlanDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlanTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueIPlan" nillable="true" type="tns:QueueIPlan" />
  <xs:complexType name="ArrayOfQueueINotDistributedClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueINotDistributedClientRequest" nillable="true" type="tns:QueueINotDistributedClientRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueINotDistributedClientRequest" nillable="true" type="tns:ArrayOfQueueINotDistributedClientRequest" />
  <xs:complexType name="QueueINotDistributedClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueueClientRequest" nillable="true" type="tns:QueueIClientRequest" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueINotDistributedClientRequest" nillable="true" type="tns:QueueINotDistributedClientRequest" />
  <xs:complexType name="ArrayOfQueueOperatorPlan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueOperatorPlan" nillable="true" type="tns:QueueOperatorPlan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueOperatorPlan" nillable="true" type="tns:ArrayOfQueueOperatorPlan" />
  <xs:complexType name="QueueOperatorPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientRequestsPlans" nillable="true" type="tns:ArrayOfQueueIClientRequestPlan" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="tns:QueueOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueOperatorPlan" nillable="true" type="tns:QueueOperatorPlan" />
  <xs:complexType name="QueueIFreeTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="Schedule" nillable="true" type="tns:QueueISchedule" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="tns:QueueIService" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TimeIntervals" nillable="true" type="q8:ArrayOfduration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueIFreeTime" nillable="true" type="tns:QueueIFreeTime" />
  <xs:complexType name="QueueISchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientInterval" type="ser:duration" />
          <xs:element minOccurs="0" name="ClientReservation" type="xs:int" />
          <xs:element minOccurs="0" name="FinishTime" type="ser:duration" />
          <xs:element minOccurs="0" name="InterruptionFinishTime" type="ser:duration" />
          <xs:element minOccurs="0" name="InterruptionStartTime" type="ser:duration" />
          <xs:element minOccurs="0" name="IsInterruption" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsWorked" type="xs:boolean" />
          <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueISchedule" nillable="true" type="tns:QueueISchedule" />
  <xs:complexType name="QueueIDefaultExceptionSchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueISchedule">
        <xs:sequence>
          <xs:element minOccurs="0" name="ScheduleDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIDefaultExceptionSchedule" nillable="true" type="tns:QueueIDefaultExceptionSchedule" />
  <xs:complexType name="QueueIServiceExceptionSchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueISchedule">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIServiceExceptionSchedule" nillable="true" type="tns:QueueIServiceExceptionSchedule" />
  <xs:complexType name="QueueIDefaultWeekdaySchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueISchedule">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DayOfWeek" type="q9:DayOfWeek" />
          <xs:element minOccurs="0" name="QueueService" nillable="true" type="tns:QueueIService" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIDefaultWeekdaySchedule" nillable="true" type="tns:QueueIDefaultWeekdaySchedule" />
  <xs:complexType name="QueueIServiceWeekdaySchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueISchedule">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DayOfWeek" type="q10:DayOfWeek" />
          <xs:element minOccurs="0" name="QueueService" nillable="true" type="tns:QueueIService" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIServiceWeekdaySchedule" nillable="true" type="tns:QueueIServiceWeekdaySchedule" />
  <xs:complexType name="ArrayOfQueueIServiceGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIServiceGroup" nillable="true" type="tns:QueueIServiceGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIServiceGroup" nillable="true" type="tns:ArrayOfQueueIServiceGroup" />
  <xs:complexType name="ArrayOfQueueIUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIUser" nillable="true" type="tns:QueueIUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIUser" nillable="true" type="tns:ArrayOfQueueIUser" />
  <xs:complexType name="ArrayOfQueueIZone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIZone" nillable="true" type="tns:QueueIZone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIZone" nillable="true" type="tns:ArrayOfQueueIZone" />
  <xs:complexType name="QueueIZone">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="Endpoint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIZone" nillable="true" type="tns:QueueIZone" />
  <xs:complexType name="ArrayOfQueueIWorkplace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIWorkplace" nillable="true" type="tns:QueueIWorkplace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIWorkplace" nillable="true" type="tns:ArrayOfQueueIWorkplace" />
  <xs:complexType name="ArrayOfQueueIService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIService" nillable="true" type="tns:QueueIService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIService" nillable="true" type="tns:ArrayOfQueueIService" />
  <xs:complexType name="ArrayOfQueueIServiceWeekdaySchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIServiceWeekdaySchedule" nillable="true" type="tns:QueueIServiceWeekdaySchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIServiceWeekdaySchedule" nillable="true" type="tns:ArrayOfQueueIServiceWeekdaySchedule" />
  <xs:complexType name="ArrayOfQueueIDefaultWeekdaySchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIDefaultWeekdaySchedule" nillable="true" type="tns:QueueIDefaultWeekdaySchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIDefaultWeekdaySchedule" nillable="true" type="tns:ArrayOfQueueIDefaultWeekdaySchedule" />
  <xs:complexType name="ArrayOfQueueIServiceParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIServiceParameter" nillable="true" type="tns:QueueIServiceParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueIServiceParameter" nillable="true" type="tns:ArrayOfQueueIServiceParameter" />
  <xs:complexType name="QueueIServiceParameter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntityWithId">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsRequire" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SortId" type="xs:long" />
          <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIServiceParameter" nillable="true" type="tns:QueueIServiceParameter" />
  <xs:complexType name="QueueIServiceParameterText">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIServiceParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIServiceParameterText" nillable="true" type="tns:QueueIServiceParameterText" />
  <xs:complexType name="QueueIServiceParameterNumber">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIServiceParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIServiceParameterNumber" nillable="true" type="tns:QueueIServiceParameterNumber" />
  <xs:complexType name="QueueIServiceParameterOptions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIServiceParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsMultiple" type="xs:boolean" />
          <xs:element minOccurs="0" name="Options" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIServiceParameterOptions" nillable="true" type="tns:QueueIServiceParameterOptions" />
  <xs:complexType name="QueueIDefaultConfig">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIConfig">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueueName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIDefaultConfig" nillable="true" type="tns:QueueIDefaultConfig" />
  <xs:complexType name="QueueIConfig">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IEntity">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="Section" type="q11:ConfigType" />
          <xs:element minOccurs="0" name="Version" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIConfig" nillable="true" type="tns:QueueIConfig" />
  <xs:complexType name="QueueIDesignConfig">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIConfig">
        <xs:sequence>
          <xs:element minOccurs="0" name="LogoSmall" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueIDesignConfig" nillable="true" type="tns:QueueIDesignConfig" />
  <xs:complexType name="QueueICouponConfig">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueueIConfig">
        <xs:sequence>
          <xs:element minOccurs="0" name="Template" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueueICouponConfig" nillable="true" type="tns:QueueICouponConfig" />
</xs:schema>