sources/Operator.Silverlight/Service References/QueueRemoteService/Queue.Services.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Queue.Services.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Queue.Services.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Queue.Model.Common" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" />
  <xs:complexType name="ObjectNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjectId" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectNotFoundFault" nillable="true" type="tns:ObjectNotFoundFault" />
  <xs:simpleType name="ServerServiceEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CallClient" />
      <xs:enumeration value="ClientRequestUpdated" />
      <xs:enumeration value="CurrentClientRequestUpdated" />
      <xs:enumeration value="OperatorPlanMetricsUpdated" />
      <xs:enumeration value="ConfigUpdated" />
      <xs:enumeration value="Event" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServerServiceEventType" nillable="true" type="tns:ServerServiceEventType" />
  <xs:complexType name="ServerSubscribtionArgs">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="ConfigTypes" nillable="true" type="q1:ArrayOfConfigType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="Operator" nillable="true" type="q2:Operator" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="Workplace" nillable="true" type="q3:Workplace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerSubscribtionArgs" nillable="true" type="tns:ServerSubscribtionArgs" />
</xs:schema>