sources/Operator.Silverlight/Service References/QueueRemoteService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Queue.Services.Common" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Queue.Model.Common" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="EditTerminalConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PIN" type="xs:int" />
        <xs:element minOccurs="0" name="currentDayRecording" type="xs:boolean" />
        <xs:element minOccurs="0" name="columns" type="xs:int" />
        <xs:element minOccurs="0" name="rows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTerminalConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditTerminalConfigResult" nillable="true" type="q1:TerminalConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetNotificationConfigResult" nillable="true" type="q2:NotificationConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNotificationConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientRequestsLength" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNotificationConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditNotificationConfigResult" nillable="true" type="q3:NotificationConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuePlanMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
        <xs:element minOccurs="0" name="minutes" type="xs:int" />
        <xs:element minOccurs="0" name="seconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuePlanMetricResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetQueuePlanMetricResult" nillable="true" type="q4:QueuePlanMetric" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuePlanServiceMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
        <xs:element minOccurs="0" name="minutes" type="xs:int" />
        <xs:element minOccurs="0" name="seconds" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuePlanServiceMetricResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetQueuePlanServiceMetricResult" nillable="true" type="q6:QueuePlanServiceMetric" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDateTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSubscribed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Queue.Services.Common" minOccurs="0" name="eventType" type="q7:ServerServiceEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSubscribedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSubscribedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Queue.Services.Common" minOccurs="0" name="eventType" type="q8:ServerServiceEventType" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Queue.Services.Common" minOccurs="0" name="args" nillable="true" type="q9:ServerSubscribtionArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Queue.Services.Common" minOccurs="0" name="eventType" type="q10:ServerServiceEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetClientResult" nillable="true" type="q12:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenClientSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenClientSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="OpenClientSessionResult" nillable="true" type="q14:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientByIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientByIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetClientByIdentityResult" nillable="true" type="q15:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="FindClientsResult" nillable="true" type="q16:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddClientResult" nillable="true" type="q17:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="ClientLoginResult" nillable="true" type="q18:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRestorePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRestorePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q19:guid" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditClientResult" nillable="true" type="q20:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q21:guid" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPINToEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPINToEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPINResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="filter" nillable="true" type="q23:ClientRequestFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="FindClientRequestsResult" nillable="true" type="q24:ArrayOfClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetClientRequestResult" nillable="true" type="q26:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetClientRequestEventsResult" nillable="true" type="q28:ArrayOfClientRequestEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEarlyClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q29:guid" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q30:guid" />
        <xs:element minOccurs="0" name="requestDate" type="xs:dateTime" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestTime" type="q31:duration" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q32:ArrayOfKeyValueOfguidanyType" />
        <xs:element minOccurs="0" name="subjects" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEarlyClientRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddEarlyClientRequestResult" nillable="true" type="q33:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLiveClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q34:guid" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q35:guid" />
        <xs:element minOccurs="0" name="isPriority" type="xs:boolean" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q36:ArrayOfKeyValueOfguidanyType" />
        <xs:element minOccurs="0" name="subjects" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLiveClientRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddLiveClientRequestResult" nillable="true" type="q37:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestCoupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q38:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestCouponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientRequestCouponResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientRequestPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q39:guid" />
        <xs:element minOccurs="0" name="isPriority" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientRequestPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="ChangeClientRequestPriorityResult" nillable="true" type="q40:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientRequestSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q41:guid" />
        <xs:element minOccurs="0" name="subjects" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientRequestSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="ChangeClientRequestSubjectsResult" nillable="true" type="q42:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientRequestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q43:guid" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientRequestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="ChangeClientRequestServiceResult" nillable="true" type="q45:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientRequestOperator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q46:guid" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="operatorId" type="q47:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeClientRequestOperatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="ChangeClientRequestOperatorResult" nillable="true" type="q48:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q49:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelClientRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="CancelClientRequestResult" nillable="true" type="q50:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q51:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreClientRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="RestoreClientRequestResult" nillable="true" type="q52:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostponeClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q53:guid" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="postponeTime" type="q54:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostponeClientRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="PostponeClientRequestResult" nillable="true" type="q55:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatorClientRequestPlans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatorClientRequestPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetOperatorClientRequestPlansResult" nillable="true" type="q56:ArrayOfClientRequestPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentClientRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentClientRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetCurrentClientRequestsResult" nillable="true" type="q57:ArrayOfClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentClientRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentClientRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetCurrentClientRequestResult" nillable="true" type="q58:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrentClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="state" type="q59:ClientRequestState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrentClientRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostponeCurrentClientRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="postponeTime" type="q60:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostponeCurrentClientRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCurrentClientRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCurrentClientRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCurrentClientRequestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCurrentClientRequestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="ChangeCurrentClientRequestServiceResult" nillable="true" type="q62:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCurrentClientRequestServiceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="serviceType" type="q63:ServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCurrentClientRequestServiceTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="ChangeCurrentClientRequestServiceTypeResult" nillable="true" type="q64:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCurrentClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCurrentClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="planDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetQueuePlanResult" nillable="true" type="q65:QueuePlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q66:guid" />
        <xs:element minOccurs="0" name="planDate" type="xs:dateTime" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="queueType" type="q67:ClientRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetFreeTimeResult" nillable="true" type="q68:ServiceFreeTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTodayQueuePlan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTodayQueuePlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootServiceGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootServiceGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetRootServiceGroupsResult" nillable="true" type="q69:ArrayOfServiceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentServiceGroupId" type="q70:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetServiceGroupsResult" nillable="true" type="q71:ArrayOfServiceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q72:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetServiceGroupResult" nillable="true" type="q73:ServiceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRootServiceGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRootServiceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddRootServiceGroupResult" nillable="true" type="q74:ServiceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddServiceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentServiceGroupId" type="q75:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddServiceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddServiceGroupResult" nillable="true" type="q76:ServiceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditServiceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q77:guid" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columns" type="xs:int" />
        <xs:element minOccurs="0" name="rows" type="xs:int" />
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="icon" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditServiceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditServiceGroupResult" nillable="true" type="q78:ServiceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveServiceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sourceGroupId" type="q79:guid" />
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="targetGroupId" type="q80:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveServiceGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveServiceGroupToRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sourceGroupId" type="q81:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveServiceGroupToRootResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGroupUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q82:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGroupUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceGroupUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGroupDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q83:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGroupDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceGroupDownResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGroupActivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q84:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGroupActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceGroupActivateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGroupDeactivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q85:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGroupDeactivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceGroupDeactivateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q86:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenUserSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q87:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenUserSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="OpenUserSessionResult" nillable="true" type="q88:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserHeartbeat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserHeartbeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetUsersResult" nillable="true" type="q89:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q90:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetUserResult" nillable="true" type="q91:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="userRole" type="q92:UserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserListResult" nillable="true" type="q93:ArrayOfKeyValueOfguidstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q94:guid" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="UserLoginResult" nillable="true" type="q95:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="role" type="q96:UserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddUserResult" nillable="true" type="q97:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q98:guid" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditUserResult" nillable="true" type="q99:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q100:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q101:guid" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOperator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="operatorId" type="q102:guid" />
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workplaceId" type="q103:guid" />
        <xs:element minOccurs="0" name="isInterruption" type="xs:boolean" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionStartTime" type="q104:duration" />
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionFinishTime" type="q105:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOperatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditOperatorResult" nillable="true" type="q106:Operator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetOfficesResult" nillable="true" type="q107:ArrayOfOffice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="officeId" type="q108:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetOfficeResult" nillable="true" type="q109:Office" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOffice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOfficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddOfficeResult" nillable="true" type="q110:Office" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="officeId" type="q111:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOfficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditOfficeResult" nillable="true" type="q112:Office" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOfficeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="officeId" type="q113:guid" />
        <xs:element minOccurs="0" name="endpoint" nillable="true" type="xs:string" />
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q114:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOfficeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditOfficeLoginResult" nillable="true" type="q115:Office" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="officeId" type="q116:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOfficeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplacesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplacesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWorkplacesListResult" nillable="true" type="q117:ArrayOfKeyValueOfguidstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetWorkplacesResult" nillable="true" type="q118:ArrayOfWorkplace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workplaceId" type="q119:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetWorkplaceResult" nillable="true" type="q120:Workplace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkplace">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkplaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddWorkplaceResult" nillable="true" type="q121:Workplace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWorkplace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workplaceId" type="q122:guid" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="type" type="q123:WorkplaceType" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="modificator" type="q124:WorkplaceModificator" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="display" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sections" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWorkplaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditWorkplaceResult" nillable="true" type="q125:Workplace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkplace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workplaceId" type="q126:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkplaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetServiceListResult" nillable="true" type="q127:ArrayOfKeyValueOfguidstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetRootServicesResult" nillable="true" type="q128:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q129:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetServicesResult" nillable="true" type="q130:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q131:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetServiceResult" nillable="true" type="q132:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="FindServicesResult" nillable="true" type="q133:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRootService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRootServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddRootServiceResult" nillable="true" type="q134:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q135:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddServiceResult" nillable="true" type="q136:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q137:guid" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priority" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tags" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxSubjects" type="xs:int" />
        <xs:element minOccurs="0" name="maxEarlyDays" type="xs:int" />
        <xs:element minOccurs="0" name="clientRequire" type="xs:boolean" />
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="type" type="q138:ServiceType" />
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="liveRegistrator" type="q139:ClientRequestRegistrator" />
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="earlyRegistrator" type="q140:ClientRequestRegistrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditServiceResult" nillable="true" type="q141:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q142:guid" />
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceGroupId" type="q143:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q144:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q145:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q146:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceDownResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeServiceActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q147:guid" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeServiceActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceCurrentSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q148:guid" />
        <xs:element minOccurs="0" name="planDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceCurrentScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetServiceCurrentScheduleResult" nillable="true" type="q149:Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceWeekdaySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q150:guid" />
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="dayOfWeek" type="q151:DayOfWeek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceWeekdayScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetServiceWeekdayScheduleResult" nillable="true" type="q152:ServiceWeekdaySchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditServiceWeekdaySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q153:guid" />
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="dayOfWeek" type="q154:DayOfWeek" />
        <xs:element xmlns:q155="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="startTime" type="q155:duration" />
        <xs:element xmlns:q156="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="finishTime" type="q156:duration" />
        <xs:element minOccurs="0" name="isWorked" type="xs:boolean" />
        <xs:element minOccurs="0" name="isInterruption" type="xs:boolean" />
        <xs:element xmlns:q157="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionStartTime" type="q157:duration" />
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionFinishTime" type="q158:duration" />
        <xs:element xmlns:q159="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientInterval" type="q159:duration" />
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="intersection" type="q160:duration" />
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="renderingMode" type="q161:ServiceRenderingMode" />
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="earlyStartTime" type="q162:duration" />
        <xs:element xmlns:q163="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="earlyFinishTime" type="q163:duration" />
        <xs:element minOccurs="0" name="earlyReservation" type="xs:int" />
        <xs:element minOccurs="0" name="maxClientRequests" type="xs:int" />
        <xs:element xmlns:q164="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="renderings" nillable="true" type="q164:ArrayOfKeyValueOfguidServiceRenderingMode2mFJ_Sdkb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditServiceWeekdayScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditServiceWeekdayScheduleResult" nillable="true" type="q165:ServiceWeekdaySchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceWeekdaySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q166:guid" />
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="dayOfWeek" type="q167:DayOfWeek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceWeekdayScheduleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceExceptionSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q168:guid" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceExceptionScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetServiceExceptionScheduleResult" nillable="true" type="q169:ServiceExceptionSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditServiceExceptionSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q170:guid" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
        <xs:element xmlns:q171="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="startTime" type="q171:duration" />
        <xs:element xmlns:q172="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="finishTime" type="q172:duration" />
        <xs:element minOccurs="0" name="isWorked" type="xs:boolean" />
        <xs:element minOccurs="0" name="isInterruption" type="xs:boolean" />
        <xs:element xmlns:q173="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionStartTime" type="q173:duration" />
        <xs:element xmlns:q174="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionFinishTime" type="q174:duration" />
        <xs:element xmlns:q175="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientInterval" type="q175:duration" />
        <xs:element xmlns:q176="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="intersection" type="q176:duration" />
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="renderingMode" type="q177:ServiceRenderingMode" />
        <xs:element xmlns:q178="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="earlyStartTime" type="q178:duration" />
        <xs:element xmlns:q179="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="earlyFinishTime" type="q179:duration" />
        <xs:element minOccurs="0" name="earlyReservation" type="xs:int" />
        <xs:element minOccurs="0" name="maxClientRequests" type="xs:int" />
        <xs:element xmlns:q180="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="renderings" nillable="true" type="q180:ArrayOfKeyValueOfguidServiceRenderingMode2mFJ_Sdkb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditServiceExceptionScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditServiceExceptionScheduleResult" nillable="true" type="q181:ServiceExceptionSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceExceptionSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q182:guid" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceExceptionScheduleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultWeekdaySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="dayOfWeek" type="q183:DayOfWeek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultWeekdayScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetDefaultWeekdayScheduleResult" nillable="true" type="q184:DefaultWeekdaySchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDefaultWeekdaySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="dayOfWeek" type="q185:DayOfWeek" />
        <xs:element xmlns:q186="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="startTime" type="q186:duration" />
        <xs:element xmlns:q187="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="finishTime" type="q187:duration" />
        <xs:element minOccurs="0" name="isWorked" type="xs:boolean" />
        <xs:element minOccurs="0" name="isInterruption" type="xs:boolean" />
        <xs:element xmlns:q188="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionStartTime" type="q188:duration" />
        <xs:element xmlns:q189="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionFinishTime" type="q189:duration" />
        <xs:element xmlns:q190="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientInterval" type="q190:duration" />
        <xs:element xmlns:q191="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="intersection" type="q191:duration" />
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="renderingMode" type="q192:ServiceRenderingMode" />
        <xs:element xmlns:q193="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="earlyStartTime" type="q193:duration" />
        <xs:element xmlns:q194="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="earlyFinishTime" type="q194:duration" />
        <xs:element minOccurs="0" name="earlyReservation" type="xs:int" />
        <xs:element minOccurs="0" name="maxClientRequests" type="xs:int" />
        <xs:element xmlns:q195="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="renderings" nillable="true" type="q195:ArrayOfKeyValueOfguidServiceRenderingMode2mFJ_Sdkb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDefaultWeekdayScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditDefaultWeekdayScheduleResult" nillable="true" type="q196:DefaultWeekdaySchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultExceptionSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultExceptionScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetDefaultExceptionScheduleResult" nillable="true" type="q197:DefaultExceptionSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDefaultExceptionSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
        <xs:element xmlns:q198="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="startTime" type="q198:duration" />
        <xs:element xmlns:q199="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="finishTime" type="q199:duration" />
        <xs:element minOccurs="0" name="isWorked" type="xs:boolean" />
        <xs:element minOccurs="0" name="isInterruption" type="xs:boolean" />
        <xs:element xmlns:q200="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionStartTime" type="q200:duration" />
        <xs:element xmlns:q201="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="interruptionFinishTime" type="q201:duration" />
        <xs:element xmlns:q202="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientInterval" type="q202:duration" />
        <xs:element xmlns:q203="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="intersection" type="q203:duration" />
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="renderingMode" type="q204:ServiceRenderingMode" />
        <xs:element xmlns:q205="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="earlyStartTime" type="q205:duration" />
        <xs:element xmlns:q206="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="earlyFinishTime" type="q206:duration" />
        <xs:element minOccurs="0" name="earlyReservation" type="xs:int" />
        <xs:element minOccurs="0" name="maxClientRequests" type="xs:int" />
        <xs:element xmlns:q207="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="renderings" nillable="true" type="q207:ArrayOfKeyValueOfguidServiceRenderingMode2mFJ_Sdkb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDefaultExceptionScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditDefaultExceptionScheduleResult" nillable="true" type="q208:DefaultExceptionSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDefaultExceptionSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDefaultExceptionScheduleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q209:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetServiceParametersResult" nillable="true" type="q210:ArrayOfServiceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddServiceParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceId" type="q211:guid" />
        <xs:element xmlns:q212="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="type" type="q212:ServiceParameterType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddServiceParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddServiceParameterResult" nillable="true" type="q213:ServiceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNumberServiceParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parameterId" type="q214:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tooltip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isRequire" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNumberServiceParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditNumberServiceParameterResult" nillable="true" type="q215:ServiceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTextServiceParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parameterId" type="q216:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tooltip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isRequire" type="xs:boolean" />
        <xs:element minOccurs="0" name="minLength" type="xs:int" />
        <xs:element minOccurs="0" name="maxLength" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTextServiceParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q217="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditTextServiceParameterResult" nillable="true" type="q217:ServiceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOptionsServiceParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q218="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parameterId" type="q218:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tooltip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isRequire" type="xs:boolean" />
        <xs:element minOccurs="0" name="options" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isMultiple" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOptionsServiceParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q219="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditOptionsServiceParameterResult" nillable="true" type="q219:ServiceParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q220="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceParameterId" type="q220:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceParameterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRatingReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q221="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="servicesIds" nillable="true" type="q221:ArrayOfguid" />
        <xs:element xmlns:q222="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="detailLavel" type="q222:ServiceRatingReportDetailLavel" />
        <xs:element xmlns:q223="http://schemas.datacontract.org/2004/07/Queue.Model.Common" minOccurs="0" name="settings" type="q223:ServiceRatingReportSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRatingReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceRatingReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExceptionScheduleReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExceptionScheduleReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExceptionScheduleReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q224="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientRequestId" type="q224:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientRequestReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q225="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetDefaultConfigResult" nillable="true" type="q225:DefaultConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDefaultConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string" />
        <xs:element xmlns:q226="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workStartTime" type="q226:duration" />
        <xs:element xmlns:q227="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workFinishTime" type="q227:duration" />
        <xs:element minOccurs="0" name="maxClientRequests" type="xs:int" />
        <xs:element minOccurs="0" name="maxRenderingTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDefaultConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q228="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditDefaultConfigResult" nillable="true" type="q228:DefaultConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q229="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetDesignConfigResult" nillable="true" type="q229:DesignConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDesignConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logoSmall" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDesignConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q230="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditDesignConfigResult" nillable="true" type="q230:DesignConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q231="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetCouponConfigResult" nillable="true" type="q231:CouponConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponTemplate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCouponTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCouponConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCouponConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q232="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditCouponConfigResult" nillable="true" type="q232:CouponConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMTPConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMTPConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q233="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetSMTPConfigResult" nillable="true" type="q233:SMTPConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSMTPConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSMTPConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q234="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditSMTPConfigResult" nillable="true" type="q234:SMTPConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortalConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortalConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q235="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetPortalConfigResult" nillable="true" type="q235:PortalConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPortalConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="header" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="footer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentDayRecording" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPortalConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q236="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditPortalConfigResult" nillable="true" type="q236:PortalConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q237="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetMediaConfigResult" nillable="true" type="q237:MediaConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMediaConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMediaConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q238="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditMediaConfigResult" nillable="true" type="q238:MediaConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMediaConfigFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMediaConfigFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q239="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="AddMediaConfigFileResult" nillable="true" type="q239:MediaConfigFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMediaConfigFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q240="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="mediaConfigFileId" type="q240:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMediaConfigFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q241="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="EditMediaConfigFileResult" nillable="true" type="q241:MediaConfigFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMediaConfigFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q242="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="mediaConfigFileId" type="q242:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMediaConfigFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q243="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="GetTerminalConfigResult" nillable="true" type="q243:TerminalConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q244="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="clientRequest" nillable="true" type="q244:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRequestUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q245="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="clientRequest" nillable="true" type="q245:ClientRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentClientRequestUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q246="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="clientRequest" nillable="true" type="q246:ClientRequest" />
        <xs:element xmlns:q247="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="queueOperator" nillable="true" type="q247:Operator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatorPlanMetricsUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q248="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="operatorPlanMetrics" nillable="true" type="q248:OperatorPlanMetrics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q249="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="config" nillable="true" type="q249:Config" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Event">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q250="http://schemas.datacontract.org/2004/07/Queue.Services.DTO" minOccurs="0" name="queueEvent" nillable="true" type="q250:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>